
doctype 5
html
	head
		title #{title} - NodeHub
		block css
			link(rel='stylesheet', href='./assets/css/nodehub.css')
			link(rel='shortcut icon', href='./assets/images/favicon.ico')

		block script
			script(src='./assets/js/jquery.min.js') 
			script(src='./assets/js/nodehub.js')
	body
		block header
			div.header
			
		block content

		block footer
			div.footer
				p.version NodeHub 0.1.0, MIT License
				p.license
					a(href='http://github.com/nocoo/nodehub') GitHub

		block logic
