extends layout

block content
	div.b-login
		h1 NodeHub
		form
			label Name
				input#input_name.span3(type='text', placeholder='Username', value='admin')
			label Password
				input#input_pass.span3(type='password', placeholder='Password', value='admin')
			button.btn.btn-primary(type='submit') Login
			div.clear

block prepend css
	link(rel='stylesheet', href='/assets/css/bootstrap.min.css')

block append script
	script(src='/assets/js/jquery.sha256.min.js')

block append logic
	script
		;(function($) {
			// Logic code for this page.
			var do_login = function() {
				$.post('/api/login', 
					{ 
						'd_username': $('#input_name').attr('value'),
						'd_password': $.sha256($('#input_pass').attr('value'))
					}, 
					function(data) {
						if(!data || data['code'] !== 200) {
							$('.b-login form').get(0).reset();
						} else {
							window.location = '/admin/dashboard/' + data['extra']['token'];
						}
					}
				);
			};

			$('.b-login form').on('submit', function() { 
				do_login();
				return false;
			});
		})(jQuery);